<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.activity-mesh.health</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>{{ASSETS_DIR}}/health/master.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>21600</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{STATE_DIR}}/health.log</string>
    <key>StandardErrorPath</key>
    <string>{{STATE_DIR}}/health.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>ACTIVITY_MESH_HOME</key>
        <string>{{STORE_DIR}}</string>
        <key>ACTIVITY_MESH_SYNC</key>
        <string>{{SYNC_DIR}}</string>
        <key>ACTIVITY_MESH_STATE</key>
        <string>{{STATE_DIR}}</string>
        <key>TELEGRAM_ENV</key>
        <string>{{TELEGRAM_ENV}}</string>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>{{HOME}}</string>
    <key>ProcessType</key>
    <string>Background</string>
    <key>Nice</key>
    <integer>10</integer>
</dict>
</plist>
